body {
  background-image: url('images/gradient.webp');
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  color: #fff;
  image-rendering: optimizeSpeed;
}
/* OVERLAY */
.noisy-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('https://img.freepik.com/free-photo/white-rough-texture-pattern_1194-6701.jpg?w=996&t=st=1721545068~exp=1721545668~hmac=0bb65b586f59ec023d2707a0845f240a973bdc7c3d4569ef9b43782f8f723654'); Example noisy texture */
  opacity: 0.45; /* Adjust opacity as needed */
  pointer-events: none; 
  z-index: 999;
}
/* MAIN */
main{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}
main::-webkit-scrollbar {
  width: 12px;
}

#main-body{
  width: 50%;
  justify-content: center;
}

main::-webkit-scrollbar-thumb:hover {
  background: #555;
  transform: scale(1.2); /* Scale the thumb on hover */
}
/* Custom Scrollbar for Firefox */
main {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #4a4a4a #8a8686;  /* thumb color and track color */
}

.col, .row {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(255, 253, 253, 0.975);
}
.name{
  font-weight: 800;
}
/* PROFILE IMG */
.img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Make image circular */
  border: solid 5px #e91212cf;
  object-fit: cover;
  transition: all 1.2s ease-in-out;
}
.img:hover{
  border: solid px rgba(38, 30, 146, 0.775);
  width: 160px;
  height: 160px;
  box-shadow: 0 2px 6px 2px #195998b7;
}
/* PROFILE */
.profile{
  margin-top: -8rem;
}
svg{
  border-radius: 50% ;
  border: solid 2px rgb(85, 83, 83);
  width: 30px;
  height: 30px;
  margin-bottom: 2rem;
  filter: invert(0.6);
  transition: all 0.5s ease-in-out;
}
svg:hover{
  filter: invert(0);
  background-color: white;
  border: solid 4px rgb(27, 86, 205);
  width: 40px;
  height: 40px;
}
/* HEADING */
.heading{
  font-weight: bold;
}
/* SUB HEADING */
.heading1{
  font-weight: bold;

}
.age{
  font-weight: 400;
}
/* PARAGRAPHS */
.p{
  font-weight: 400;
}

/* TYPING ANIMATIONS */
.typing-animation {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-decoration: underline;
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 3px #fff;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: max-content; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: rgb(196, 185, 185); }
}
/* PARAGRAPHS */
.p2{
  font-weight: 400;
  letter-spacing: 1.2px;
  text-align: left;
  width: auto;
}
.mt-5{
  width: 50% !important;
}
/* HEADING 2 */
.heading2{
  font-size: 28px;
  margin-top: 60px;
}
/* HEADING 4 */
.heading4{
  margin-top: 60px ;
}
/* HEADING 5 */
.heading5{
  margin-top: 80px;
}
/* POLL BAR */
.progress-bar-container {
  height: 25px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}
.progress-bar {
  height: 100%;
  transition: width 0.5s ease-in-out;
  line-height: 25px;
  color: rgb(0, 0, 0);
  text-align: center;
  white-space: nowrap;
}
#yesBar {
  background-color: #007bff;
}
#noBar {
  background-color: #e91212;
}
.p3{
  font-size: smaller;
  text-align: left;

}
/* SKILLS CONTAINER */
.skills-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}
/* SKILLS ITEMS */
.skill-item {
  background: rgba(110, 109, 109, 0.084);
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 4px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(179, 175, 175, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.skill-item:hover{
  transform: translateY(5px);
  box-shadow: 0 20px 30px rgba(32, 32, 32, 0.682);
}
.skill-logo {
  max-width: 30px;
  margin-right: 8px;
}

.skill-name {
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: -8px;
}
.skill-progress-wrapper {
  position: relative;
  width: 90%; /* Ensure it fills the available width */
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-right: 10rem;
  margin-left: 12px;
}

.skill-progress-bar {
  height: 100%; /* Fill the height of the wrapper */
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  width: 0%; /* Default width to 0% */
  margin-left: -1px;
}
.col-md-6 div:nth-child(8){
  margin-left: -200px;
  margin-right: 100px;
  justify-content: space-around;
}
.skill-progress-percentage {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}
/* PROJECTS CONTAINER */
.projects-container{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}
/* PROJECTS ITEMS */
.projects-item-container{
  background: rgba(110, 109, 109, 0.084);
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 5px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(179, 175, 175, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.project1{
  filter: contrast(1.5) brightness(1.5);
  width: 120px;
  height: 100px;
}
.tech{
  color: #c5c6c7;
  font-size: small;
}

.glassmorphism-form .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.glassmorphism-form .form-control:focus {
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
}

.glassmorphism-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.glassmorphism-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #00408a;
}
.social-media a{
  margin-right: 20px;
}
::placeholder {
  color: #ffffff !important; /* Light gray color for placeholders */
  opacity: 1 !important; /* Ensure the placeholder color is not affected by the element's opacity */
}
:-ms-input-placeholder {
  color: #ffffff !important;
}
/* MEDIA QUERY RESPONSIVE FOR MOBILE AND TABLETS */
@media(max-width: 968px){
  #main-body{
    width: 80%;
  }
}
@media (max-width: 767px) {
  body{
    width: 100vw;
  }
  #main-body{
    width: 100%;
  }
  .img{
    margin-top: 3em;
    width: 100px;
    height: 100px;
    border: solid 2px #e91212;
  }
  .img:hover{
    width: 110px;
    height: 110px;
  }

  .name{
    font-size: 1.2rem;
  }
  svg{
    width: 25px;
    height: 25px;
  }
  .portfolio{
    display: none;
  }
  .blog{
    display: none;
  }
  .social-media{
    justify-content: center;
  }
  .heading{
    margin-top: -4rem;
    font-size: 1.4rem;
  }
  .p{
    margin-top: -2rem;
    font-size: 16px;
  }
  .heading1{
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .p2{
    font-size: normal;
  }
  .about {
    width: 100%;
  }
  
  .about .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .about .row {
    margin-left: 0;
    margin-right: 0;
  }
  .heading2{
    font-size: 1.4rem;
    margin-top: 50px !important;
  }
  .col-md-6 div:nth-child(8){
    margin-left: 0;
    margin-right: 0;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .typing-animation {
    /* Disable animation on mobile screens */
    animation: none;
  }
  .typing{
    border: none;
    text-decoration: none;
  }
}

